html {
  background-color: #fcf2f2;
  font-family: fantasy, sans-serif;;
}

div#banner{
  text-align: center;
}

div#banner h1{
  color: black;
}

div#navigation{
  background-color: #f41d1d;
  width: 100%;
  height: 5%;
}

div#navigation li{
  display: inline;
  text-align: center;
  list-style: none;
  margin-right: 150px;
}

div#navigation li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.row{
  margin: 0 auto;
  width: 730px;
}

.col-md-4{
  display: inline-block;
}

.row img{
  display: inline-block;
  height: 250px;
}



.mission{
  font-family: Trebuchet MS, sans-serif;
  text-align: center;
}

.mission h2{
  font-size: 30px;
}

.mission p{
  font-size: 21px;
}
