html {
  background-color: #fcf2f2;
  font-family: fantasy, sans-serif;
  background-image:url(http://wallpapercave.com/wp/vND5klG.jpg);
}

div#banner{
  text-align: center;
}

div#banner h1{
  color: black;
}

div#navigation{
  background-color: #f41d1d;
  width: 100%;
  height: 5%;
  opacity: 0.5;
}

div#navigation li{
  display: inline;
  text-align: center;
  list-style: none;
  margin-right: 150px;
}

div#navigation li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

div#navigation li a:hover{
  color: #9adced;
}

.row{
  margin: 0 auto;
  width: 730px;
}

.col-md-4{
  display: inline-block;
}

.row img{
  display: inline-block;
  height: 250px;
}



.mission{
  font-family: Trebuchet MS, sans-serif;
  color: #fff;
  text-align: center;
}

.mission h2{
  font-size: 30px;
}

.mission p{
  font-size: 21px;
}

.missionimg{
  margin: 0 auto;
  width: 730px;
}

.missionimg img{
  border: 3px solid black;
}

.contact{
  border: 2px solid black;
}

form{
  margin: 0 auto;
  width: 200px;
}
